<footer id="footer" class="page-footer">
  <div class="footer-description">
    <p>
      ShopSphere provides a seamless shopping experience, bringing you the best
      products with ease and convenience.
    </p>
    <p>Your one-stop shop for quality, reliability, and simplicity.</p>
    <ul class="social-buttons">
      <li>
        <a
          href="https://trello.com/b/Xy4hdHU1/sit725-applied-software-engineering-team-project"
          class="icon-white me-2"
          target="_blank"
          aria-label="facebook social link"
        >
          <span class="fab fa-trello"></span>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/NachiketJoy/shopSphere"
          aria-label="github social link"
          class="icon-white me-2"
          target="_blank"
        >
          <span class="fab fa-github"></span>
        </a>
      </li>
      <li>
        <a
          href="https://docs.google.com/document/d/19U2wXnPr9TZ7_vFhjMiJLERO2MkGFESFjzCG1kjJ4ys/edit?tab=t.0"
          class="icon-white me-2"
          aria-label="linkedin social link"
          target="_blank"
        >
          <span class="fab fa-readme"></span>
        </a>
      </li>
    </ul>
  </div>

  <hr />

  <!-- Copyright and Logo -->
  <div class="footer-copyright">
    <a href="/homepage" class="footer-logo">
      <img src="/assets/img/icon.png" height="30" alt="Logo" />
      <span>ShopSphere</span>
    </a>
    <p>&copy; copyright <span id="year"></span></p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
<script src="/node_modules/materialize-css/dist/js/materialize.min.js"></script>
<script src="/dist/js/scripts.min.js"></script>
