<div class="navbar-fixed">
  <nav class="nav">
    <div class="container nav-wrapper">
      <a href="/homepage" class="brand-logo hide-on-med-and-down">
      <img
        src="/assets/img/icon.png"
        height="60"
        alt="ShopSphere Logo"
      />
      <span class="brand-logo">ShopSphere</span></a>
      <% if(user.email === 'admin@example.com') { %>
        <ul class=" right nav-items">
          <li><a href="/dashboard">Dashboard</a></li>
          <li><button id="logout" class="btn btn__primary">Logout</button></li>
        </ul>
        <% } else { %>
          <ul class="right nav-items">
            <li><a href="/homepage">Home</a></li>
            <li><a href="/order">Order</a></li>
            <li class="hide-on-med-and-down"><a href="/contact">Contact</a></li>

            <!-- Notifications dropdown with dynamic count -->
            <li class="notifications-dropdown hide-on-med-and-down">
              <a href="#!" class="dropdown-trigger" data-target="notifications-dropdown">
                Notifications
                <span class="notification-count">0</span> <!-- Dynamic notification count -->
              </a>
            </li>

              <!-- Shopping cart with dynamic count -->
            <li>
              <a href="/cart" class="cart-button">
                Shopping Cart
                <span class="cart-count">0</span> <!-- Dynamic cart item count -->
              </a>
            </li>
            

            <!-- User dropdown -->
            <li class="user-dropdown">
              <button id="userDropdownButton" class="btn btn__primary"><%- user.fullName %></button>

              <!-- User info popup -->
              <div class="user-info-popup" id="userInfoPopup">

                <div class="popup-header">
                  <span class="popup-title">ShopSphere</span>
                  <a href="#" id="logout" class="logout-link">Log out 
                    <i class="fas fa-external-link-alt"></i>
                  </a>
                </div>

                <div class="user-details">
                  <img src="/assets/img/admin.jpg" alt="User Profile" class="profile-image">
                  <div class="user-text">
                    <p class="user-name"><%- user.fullName %></p>
                    <p class="user-email"><%- user.email %></p>
                  </div>
                </div>
                
              </div>

            </li>


          </ul>
          <% } %>
    </div>
  </nav>
</div>

<script>
  const userId = '<%- user._id %>'
  // Save user data to localStorage
  localStorage.setItem('userId', userId);

  function saveUserToLocalStorage(userData) {
    try {
      localStorage.setItem('userId', userData);
    } catch (error) {
      console.error('Error saving user to localStorage:', error);
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    saveUserToLocalStorage(userId);
  });

  document.getElementById('logout').addEventListener('click', () => {
    localStorage.removeItem('userId');
  });
</script>