<div class="product-detail">
  <div class="carousel" id="productImageCarousel">
    <!-- Product images -->
  </div>

  <div class="product-info">
    <p id="productName" class="detailProductName"></p>
    <p id="productCategory" class="detailProductCategory"></p>
    <p class="detailProductPrice">
      <span id="productPrice" class="productPrice"></span>
    </p>
    <p id="productDesc"></p>
  </div>
</div>

<div class="similar-products">
  <h2 class="heading__h2">Similar Products</h2>
  <div id="similarProductsContainer" class="similar-products-list">
    <!-- Similar products-->
  </div>
</div>
