<%- include('./layout/header') %>

<div class="container">
    <form action="/reset-password" method="POST">
        <h1>Reset Password</h1>
        <input type="hidden" name="token" value="<%= token %>">
        <input type="email" name="email" value="<%= email %>" readonly>
        <input type="password" name="password" placeholder="Enter new password" required>
        <button type="submit">Reset Password</button>
    </form>
</div>

<%- include('./layout/footer') %>
